@using Arc.UX.Configuration

@inject IComponentStyleProvider ComponentStyleProvider

@if (Visible)
{
    <div class="@ComponentStyleProvider.Alert(Style)">
        @*@if (Icon.HasValue())
        {
            <span class="alert-link @($"{Configuration.IconPrefix}{Icon.ToLower()}")"></span>
        }*@
        @ChildContent
    </div>
}

@code {
    // [Parameter]
    // public string? Icon { get; set; }

    [Parameter]
    public ElementStyle Style { get; set; } = ElementStyle.Default;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Visible { get; set; } = true;
}